<h1>The <%= @dish.name %> Show Page </h1>

<strong>Description:</strong>
<%= @dish.description %>
<p>Total Calories: <%= @total_calories %></p>

<strong>List of Ingredients:</strong>
  <ul>
    <% @dish.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
    <% end %>
  </ul>